<% layout('layout') %>
<% stylesheet('/css/board.css') %>
<% script('/js/Board.js') %>
<% script('/js/Game.js') %>
<% script('/js/offline.js') %>

<p id="whose-turn"></p>
<div id="game-container"></div>