<% layout('layout') -%>
<% script('/js/rooms.js') %>
<% script('/js/user.js') %>

<h1>Welcome to HoneyFoo</h1>

<div <% if (isAuthenticated) { %> style="display:none;" <% } %> id="visitor-container">
	<h3>Sign up</h3>
	<p>Sign up if you want to play online against millions of players from all over the world. Play, win, and be the #1 !</p>
	<form action="/signup" method="post" id="sign-up-form">
		<p>
			Nickname : <input type="text" name="nickname" /><br />
			Password : <input type="password" name="password" /><br />
			<input type="submit" value="Sign up" />
		</p>
	</form>

	<h3>Sign in</h3>
	<form action="/signin" method="post" id="sign-in-form">
		<p>
			Nickname : <input type="text" name="nickname" /><br />
			Password : <input type="password" name="password" /><br />
			<input type="submit" value="Sign in" />
		</p>
	</form>
</div>

<p><a href="/game">Play 1vs1 on the same computer</a></p>

<div <% if (!isAuthenticated) { %> style="display:none;" <% } %> id="user-container">
	<p id="statistics"></p>
	
	<p>Please select a room to join, or create one : <input type="text" id="room-name" /></p>
	<p><span id="refresh-list" style="cursor: pointer">Refresh list</span></p>

	<p id="rooms-list"></p>
</div>