body {
	background-color: #FFF;
	background-image: url(../img/pattern.png);
	font-family: Verdana;
	color: #444;
	font-size: 9pt;
}

p.turn {
	text-align: center;
	font-variant: small-caps;
	letter-spacing: 2px;
	font-weight: bold;
}

.logo {
	float: left;
	position: absolute;
}

.hidden {
    display: none;
}

input[type=text] {
	border: 1px solid #999;
	margin-bottom: 2px;
}

input[type=password] {
	border: 1px solid #999;
}

input[type=submit] {
	margin-top: 2px;
	padding: 3px;
	background-color: none;
	border: 0;
	width: 80px;
}

input[type=submit]:hover {
	background-color: #FFF;
}